
.about-us-container {
  width: 80%;
  margin: 70px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 36px;
  color: #333;
  margin: 0;
}

.company-info, .team, .contact {
  margin-bottom: 40px;
}

.company-info h2, .team h2, .contact h2 {
  font-size: 28px;
  color: #007bff;
  margin-bottom: 10px;
}

.company-info p, .contact ul {
  font-size: 16px;
  line-height: 1.6;
}

.team {
  text-align: center; 
}

.team h2 {
  font-size: 28px;
  color: #007bff;
  margin-bottom: 20px;
}

.team .team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  text-align: center;
  margin: 20px;
}

.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.team-member img:hover {
  transform: scale(1.1);
}

.team-member h3 {
  font-size: 22px;
  color: #333;
  margin-top: 10px;
}

.team-member p {
  font-size: 16px;
  color: #666;
}





